@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.container-menu {
    display: none;
    left: -100%;
}

.container-cross {
    display: none;
    position: absolute;
    top: 46px;
    right: 26px;
    z-index: 2;
}

.container-aside {
    margin: 12vh 0 0 8vw;
}


.container-aside-list {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    background-color: #ffffff;
}

.container-aside-inner-list {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    color: #B9B9B9;
}

.container-aside-list-line {
    display: flex;
    margin-bottom: 2.0vh;
}

.container-aside-list-line-text {
    color: #B9B9B9;
    text-decoration: none;
    margin-left: 15px
}

.container-aside-list-line-text:hover {
    color: #FF3C5A;
}

.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
    width: 55vw;
    margin: 1.47vh 2.4vw 1.7vh 4vw;
    padding: 6.4vh 1.4vw 3.4vh 1.4vw;
    background-color: #EDEDED;
    border-radius: 50px;
}

.container-list-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5vh;
}

.container-list-text-title {
    font-family: "Source Sans Pro", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-top: 5vh;
}

.container-list-text-description {
    font-family: "Source Sans Pro", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.container-list-table {
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
    margin-left: 50px;
    margin-right: 50px;
}

.container-list-table-line {
    display: flex;
    flex-direction: column;
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
}

.container-list-table-line-text-red {
    color: #FF3C5A;
    margin: 0 0 0 5px;
}

.container-list-table-line-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 10px
}

.container-list-table-line-square {
    width: 202px;
    height: 202px;
    min-width: 202px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 10px;
}

.float {
    float: left;
}

.container-list-table-line-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 500px;
}

.container-list-table-line-gridlayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, 202px);
    gap: 20px;
}


@media screen and (max-width: 1000px) {
    .container {
        justify-content: center;
    }
}


@media screen and (max-width: 660px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #EDEDED;
        align-items: center;
    }

    .container-aside {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .container-aside-list {
        display: flex;
        align-items: center;
        padding-top: 150px;
        position: fixed;
        margin-top: 0;
        left: -100%;
        height: 100vh;
        width: 100vw;
        color: #B9B9B9;
    }

    .container-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-width: 0;
    }

    .container-list-text {
        display: none;
    }

    .container-list-table {
        display: flex;
        flex-direction: column;
        float: none;
        justify-content: center;
        margin-bottom: 0;

    }

    .container-list-table-line {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .float {
        float: none;
        margin-bottom: 20px;
    }

    .container-list-table-line-flexbox {
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    .container-list-table-line-gridlayout {
        display: flex;
        flex-direction: column;
        min-width: 0;
        gap: 0;
    }

    .container-list-table-line-square {
        width: 202px;
        height: 202px;
        min-width: 202px;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
    }

    .container-menu {
        display: flex;
        position: fixed;
        left: 25px;
        top: 40px;
    }

    .container-menu-show {
        background-color: #FFFFFF;
        left: 0;
        top: 0;
    }

    .list_close {
        display: flex;
    }
}